.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding-left: 10px
}

.header > h1 {
    font-size: 40px;
    font-family: Tahoma ;
    font-stretch: expanded;
    background: -webkit-linear-gradient(rgb(182, 182, 182), rgb(201, 160, 48));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
.header > img {
    width: 75px;
    color: white;
}