.songRow {
    margin-left: 20x;
    padding: 20px;
    display: flex;
    align-items: center;
    color: rgb(197, 197, 197);
    overflow-y: overlay;
}

.songRow_album {
    height: 40px;
    width: 40px;
}

.songRow:hover{
    cursor: pointer;
    background-color: lightgray;
    opacity: 0.8;
    color: white;
}

.songRow__info {
    margin-left: 20px;
}

.songRow__info > h1 {
    font-size: 16px;
}

.songRow__info > p {
    font-size: 14px;
    margin-top: 3px;
    color: gray;
}


